body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  animation: bodyexpand 0.5s;
}
 @keyframes bodyexpand {
  0% {
    height: 0vh;
    padding-bottom: 0%;
  }
 }

.App{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.App-header {
  background-color: #241571;
  font-size: calc(10px + 2vmin);
  color: white;
  position: fixed;
  display: flex;
  flex-direction: row;  
  width: 100%;
}

.Name{
  flex: 1;
  padding-left: 10%;
  animation: openupheader 1s;
}

.Contacts{
  flex: 2;
  padding-right: 5%;
  animation: openupheader 1s;
}

@keyframes openupheader {
  0% {
    font-size: 150%;
    padding-top: 45vh;
  }
  58% {
    font-size: 150%;
    padding-top: 45vh;
  }
  65%{
    font-size: 150%;
    padding-top: 55vh;
  }
  70% {
    font-size: 150%;
    padding-top: 45vh;
  }
}

.App-main-body1{
  padding: 5%;
  color: #241571;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*Main body menu*/
.App-sub-main-body11{ 
  flex: 1;
  padding: 5%;
  padding-left: 8%;
  font-size: calc(10px + 2vmax);
}
/*Main image*/
.App-sub-main-body12{
  flex: 1;
  justify-content: center;
  align-items: center;
  padding-left: 15%;
}

.App-sub-main-body12-pie-chart{
  width: 25vw;
  font-size: large;
}
.App-footer{
  background-color: #241571;
  padding-left: 40%;
  color: white;
  justify-content: center;
  align-items: center;
  height: 10vh;
  animation: opendownfooter 1s;
} 

@keyframes opendownfooter {
  0% {
    padding-bottom: 55vh;
  }
  58% {
    padding-bottom: 55vh;
  }
  65%{
    padding-bottom: 65vh;
  }
  70% {
    padding-bottom: 45vh;
  }
}

.link{
  text-decoration: none;
  color: #241571;
}

